html, body { height: 100%; height-font-size: 16px; }

body { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; text-align: left; background-color: #fff; }

.sticy_footer_wrapper { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }

footer { -ms-flex-negative: 0; flex-shrink: 0; }

body, button, input, select, optgroup, textarea { color: #404040; font-family: sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.5; }

button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: #ccc #ccc #bbb; border-radius: 3px; background: #e6e6e6; color: rgba(0, 0, 0, 0.8); font-size: 12px; font-size: 0.75rem; line-height: 1; padding: .6em 1em .4em; }

.btn { display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.blog-page .form__input, .blog-page .form__select, .blog-page .form__btn { width: 255px; height: 50px; }

.blog-page .subscribe__btn { position: relative; display: inline-block; color: #f4f44a; font-size: 20px; line-height: 26px; text-transform: uppercase; background-color: #000; border: 3px solid #000000; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }

.blog-page .subscribe__btn:hover { color: #000000; background-color: transparent; }

.btn:not(:disabled):not(.disabled) { cursor: pointer; }

.blog-page .subscribe__btn:before { content: '\f0e0'; display: inline-block; vertical-align: -2px; margin-right: 15px; font-size: 25px; font-family: "Font Awesome 5 Free"; }

ul { padding: 0; margin: 0; list-style-type: none; }

img { height: auto; max-width: 100%; }

a { color: #000; text-decoration: none; font-family: 'Open Sans Bold', sans-serif; }

a:hover { text-decoration: none; }

.section-title { text-align: center; padding: 40px 0 20px; font-size: 30px; font-family: 'Open Sans Semi Bold', sans-serif; text-transform: uppercase; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }

.blog-page .form__input, .blog-page .form__select, .blog-page .form__btn { width: 255px; height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.blog-page .form__input, .blog-page .form__select { padding: 0 20px 0 18px; }

.blog-page .form-subscribe .form__input { margin-right: 25px; }

footer { background-color: #161616; }

.mob_block { display: none; }

.header { padding: 11px 0 8px 0; background-color: #8ed0ef; color: #000; }

.header-phone { display: inline-block; text-align: left; margin-right: 20px; }

.header-phone a { display: block; text-align: center; font-size: 16px; font-family: 'Open Sans Semi Bold', sans-serif; color: #000; }

.header-phone a { font-size: 20px; font-weight: 600; }

.header-phone span { font-size: 12px; }

.header-phone span { font-size: 12px; display: block; font-family: 'Open Sans Regular', sans-serif; line-height: 10px; }

.logo-box { width: 170px; margin: auto; }

.main-head { max-width: 1500px; margin: auto; padding: 0 20px; margin-bottom: 70px; }

.main-head .logo-box { width: 570px; margin: 0 auto; }

.header .calc-block__link { display: block; margin-right: 76px; font-size: 16px; font-weight: 400; line-height: 26px; color: #000; text-decoration: none; text-transform: uppercase; border-bottom: 2px dashed #000; }

.header-burger-menu { width: 32px; cursor: pointer; }

.header-burger-menu span { display: block; width: 100%; height: 2px; margin: 4px 0; background-color: #000; }

.bread-crumbs { margin-bottom: 30px; }

.breadcrumb { background: transparent; }

.breadcrumb-item { color: #000; }

.breadcrumb-item.active { color: #8ed0ef; }

.main_page { background-color: #8ed0ef; color: #000; }

.bg-blue { background-color: #8ed0ef; }

.bg-header { min-height: 615px; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; }

.header-title-block { margin-bottom: 55px; text-align: center; text-transform: uppercase; font-size: 2rem; font-weight: 600; font-family: 'Open Sans Bold', sans-serif; }

.header-services-block { width: 800px; margin: 0 auto; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-bottom: 88px; }

.header-service-block { width: 30%; margin: 1%; text-align: center; }

.header-service-block img, .header-service-block span { display: block; margin: auto; text-align: center; font-family: 'Open Sans Semi Bold', sans-serif; font-size: 13pt; }

.header-calc-button-block { background: #000; width: 265px; margin: 90px auto; padding: 10px 15px; color: #ddd; border-radius: 4px; cursor: pointer; }

.header-calc-button-block span { color: #f4f44a; font-size: 15px; text-transform: uppercase; font-family: 'Open Sans Bold', sans-serif; vertical-align: middle; }

.article-page_bg { background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; min-height: 740px; position: relative; padding-top: 30px; }

.article-page_bg .breadcrumb-item { color: #fff; }

.article-page_bg .breadcrumb-item a { color: #fff; }

.breadcrumb-item.b_w + .breadcrumb-item.b_w::before { display: inline-block; padding-right: .5rem; color: #fff; content: "/"; }

.article-page_bg::before { content: ''; position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }

footer#colophon { padding: 40px 0 40px 0; color: #fff; }

footer#colophon a { color: #fff; }

span.copyright { font-size: 10pt; color: #fff; margin: 15px 0 0; display: inline-block; }

.footer-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: -10px 0; padding: 0; max-height: 69px; font-size: 12px; }

.footer-nav__item { margin: 2px 0; }

.footer-phone { margin-bottom: 5px; }

.footer-phone span { margin-left: 10px; font-size: 13px; }

.footer-phone:nth-child(2) { margin-left: 8px; }

.footer-calc-button-block span { font-weight: 600; font-size: 12pt; text-transform: uppercase; color: #fff; border-bottom: 2px dashed #fff; margin-left: 10px; }

@media (max-width: 1260px) { .main-head .logo-box { width: 25%; height: auto; } }

@media (max-width: 1200px) { .search .form__input, .search .form__select, .search .form__btn { width: 100%; margin-bottom: 15px; }
  .footer-phone { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
  .footer-calc-button-block span { font-size: 10pt; }
  .main-head { max-width: 100%; } }

@media screen and (max-width: 1170px) and (min-width: 320px) { .container { max-width: 100%; padding: 0 20px; } }

@media (max-width: 992px) { .header-phone { display: none; }
  .logo-box { margin: 0 auto 0 0; }
  .calc-block { display: none; }
  .header-burger-menu { display: block; }
  .subscribe { padding: 20px 0 30px 0; }
  .section-title { margin: 0; font-size: 26px; line-height: 30px; }
  .section-subtitle { position: relative; padding-bottom: 50px; }
  .section-subtitle::after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; width: 90px; height: 35px; background: url("../img/ill.png") no-repeat 50% 50%; background-size: cover; }
  .header-services-block { width: auto; }
  .header-service-block { width: 100%; }
  .footer-nav { display: none; }
  .footer-contacts-block .footer-phone { display: none; }
  .footer-calc-button-block { margin-bottom: 20px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .footer-logo { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
  .footer-calc-button-block span.mob_color { color: #f4f44a; border-bottom: 2px dashed #f4f44a; margin-left: 0; }
  .mob_block { display: inline-block; } }

@media (max-width: 768px) { .main-head .logo-box, .logo-box { width: 186px; }
  .header-title-block { font-size: 15pt; } }

@media (max-width: 576px) { .section-title { margin: 0; font-size: 18px; }
  .subscribe { background-color: #f4f44a; }
  .form-subscribe { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .form-subscribe .form__input { margin-right: 0; margin-bottom: 15px; }
  .form__input, .blog-page .form__select, .form__btn { width: 100%; }
  .subscribe__btn { font-size: 14px; text-transform: none; }
  .logo-box { max-width: 135px; }
  .subscribe__btn:before { margin-right: 10px; font-size: 18px; font-family: "Font Awesome 5 Free"; }
  footer#colophon a { color: #fff; width: 105px; }
  .footer-calc-button-block span { font-size: 12px; } }

/*# sourceMappingURL=main.css.map */