.article-page_bg
	background-size: cover
	background-position: 50% 50%
	background-repeat: no-repeat
	min-height: 740px
	position: relative
	// padding-top: 30px
	// padding-bottom: 30px

.article-page_bg .breadcrumb-item 
	color: #fff
.article-page_bg .breadcrumb-item a
	color: #fff

.breadcrumb-item.b_w+.breadcrumb-item.b_w::before
    display: inline-block
    padding-right: .5rem
    color: #fff
    content: "/"

.article-page_bg::before
	content: ''
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	background-color: rgba(0 , 0, 0, .7)


.article-page-content
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	align-items: center
	color: #fff


.acticle-title
	font-size: 46px
	font-weight: 500
	text-transform: uppercase
	color: #f4f44a
	margin-bottom: 40px

.article-page-content .article-info__footer-author
	margin-left: 0
	color: #fff
	display: flex
	align-items: center
	padding: 10px 0

.article-page-content .article-info__footer-author .author
	margin-left: 10px

.article-page-socials-wrapp
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	align-items: flex-end
	color: #fff
	padding-bottom: 30px

.acticle-page-socials
	display: flex
	justify-content: flex-end
	flex-wrap: wrap
	text-transform: uppercase
	font-size: 14px
	font-weight: 500

.acticle-page-socials__list
    display: flex
    width: 100%
    justify-content: flex-end

.acticle-page-socials__item
	margin-left: 10px
.acticle-page-socials__link
	background: #f4f44a
	width: 26px
	height: 26px
	border-radius: 50%
	display: flex
	align-items: center
	justify-content: center
	transition: all .3s

.acticle-page-socials__link:hover
	opacity: .7
	color: #000










