.header
    padding: 11px 0 8px 0
    background-color: #8ed0ef
    color: #000
    transition: .5s
.header_fixed
    transition: .5s
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 100%
    max-width: 1500px
    margin: auto
    z-index: 99
.header_fixed.main-head .logo-box
    width: 200px
    margin: 0 auto
    transition: .5s

.blog-page .header_fixed.main-head .logo-box
    width: 170px
    margin: 0 auto
    transition: .5s
.main_page .main-head > .container
    max-width: 1500px
    margin: auto
.blog-page > .main-head 
    max-width: 100%
    margin: auto
.header-phone
    display: inline-block
    text-align: left
    margin-right: 20px

.header-phone a 
	display: block
	text-align: center
	font-family: 'Open Sans Semi Bold', sans-serif
	color: #000
    font-size: 20px
    font-weight: 600

.header-phone span 
    font-size: 12px

.header-phone span 
    font-size: 12px
    display: block
    font-family: 'Open Sans Regular', sans-serif
    line-height: 10px

.logo-box
    // min-width: 170px
    // max-width: 170px
    width: 170px
    // height: 67px
    margin: auto
.main-head
    max-width: 1500px
    margin: 0 auto
    margin-bottom: 70px
.main-head .logo-box
    width: 38%
    margin: 0 auto
    // min-width: 495px
    // max-width: 495px
    // width: 40%
    // height: 194px
.header .calc-block__link
    display: block
    margin-right: 76px
    font-size: 16px
    font-weight: 400
    line-height: 26px
    color: #000
    text-decoration: none
    text-transform: uppercase
    border-bottom: 2px dashed #000
    cursor: pointer

.header-burger-menu
    width: 32px
    // margin: -3px 0
    cursor: pointer
    // display: none

.header-burger-menu span
    display: block
    width: 100%
    height: 2px
    margin: 4px 0
    background-color: #000

.bread-crumbs
    margin-bottom: 30px
.breadcrumb
	background: transparent
.breadcrumb-item
    color: #000
.breadcrumb-item.active
    color: #8ed0ef
