.main_page
	background-color: #8ed0ef
	color: #000
.bg-blue
    background-color: #8ed0ef

.bg-header
    min-height: 615px
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain

.header-title-block
	margin-bottom: 55px
	text-align: center
	text-transform: uppercase
	font-size: 40px
	font-weight: 600
	font-family: 'Open Sans Bold', sans-serif


.header-services-block
    width: 800px
    margin: 0 auto
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-bottom: 88px

.header-service-block
    width: 30%
    margin: 1%
    text-align: center

.header-service-block img, .header-service-block span
    display: block
    margin: auto
    text-align: center
    font-family: 'Open Sans Semi Bold', sans-serif
    font-size: 13pt

.header-calc-button-block
    background: #000
    width: 265px
    margin: 90px auto
    padding: 10px 15px
    color: #ddd
    border-radius: 4px
    cursor: pointer
    margin-bottom: 100px

.header-calc-button-block span
    color: #f4f44a
    font-size: 15px
    text-transform: uppercase
    font-family: 'Open Sans Bold', sans-serif
    vertical-align: middle

.header-scroll-block
    margin: 10px auto
    text-align: center
    padding: 20px
    margin-bottom: 37px

.main-head.header_fixed
    max-width: 100%
.main-arrow
    // height: 3rem
    // width: 3rem
    // border-right: 2px solid #fff
    // border-bottom: 2px solid #fff
    // -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg)
    // -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg)
    // transform: translateX(-50%) translateY(-50%) rotate(45deg)
    // position: absolute
    // left: 50%
    // bottom: 10%
    cursor: pointer











